<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="pt-4 clearfix">
      <h1 class="site-title mb-0">Mahdi Beig Babaie</h1>
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/"
                title="Home"
                ><span class="menu-title">Home</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLink]="'pages/about'"
                title="About"
                ><span class="menu-title">About</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="pages/skills"
                title="Skills"
                ><span class="menu-title">Skills</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="pages/exp"
                title="Experience"
                ><span class="menu-title">Experience</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="pages/edu"
                title="Education"
                ><span class="menu-title">Education</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="pages/portfolio"
                title="Portfolio"
                ><span class="menu-title">Portfolio</span></a
              >
            </li>
            <!-- <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="pages/ref"
                title="References"
                ><span class="menu-title">References</span></a
              >
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="pages/contact"
                title="Contact"
                ><span class="menu-title">Contact</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
