<div class="shadow-1-strong bg-white my-5 p-5" id="about">
  <div class="about-section">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h2 fw-light mb-4">About Me</h2>
        <p>
          Hello! I’m Mahdi Beig Babaie. I am passionate about
          Web Design. I am a skilled
          <strong>front-end developer</strong> I am a quick learner and a team
          worker that gets the job done.
        </p>
        <p>
          I can easily capitalize on low hanging fruits and quickly maximize
          timely deliverables for real-time schemas.
        </p>
      </div>
      <div class="col-md-5 offset-lg-1">
        <div class="row mt-2">
          <h2 class="h2 fw-light mb-4">Bio</h2>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="far fa-calendar-alt pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Age
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">20</div>
          </div>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="far fa-envelope pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Email
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">pouyababaie123@2gmail.com</div>
          </div>
          <div class="col-sm-5">
            <div class="pb-2 fw-bolder">
              <i
                class="fas fa-phone pe-2 text-muted"
                style="width: 24px; opacity: 0.85"
              ></i>
              Phone
            </div>
          </div>
          <div class="col-sm-7">
            <div class="pb-2">+98-9304961630</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
